Create a New Movie:<br>
<form method="POST" action="/movies">
    <label>Movie Name:</label>
    <input type="text" name="movie[name]">
    <label>Movie Description:</label>
    <input type="text" name="movie[description]">
    <label>Movie Year:</label>
    <input type="text" name="movie[year]">
    <label>Movie Rating:</label>
    <input type="text" name="movie[rating]">

    <input type="submit" value="Create Movie">
</form>